.loginContainer{
    display:flex;
    align-items:center;
    justify-content:end;
    width: 230px;
    border-radius: 10px;
    height: 75px;
    border:1px solid black;
    padding-right:2rem
}

.loginContainer div{
    border: 1px solid black;
    border-radius: 10px;
    width: 55px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}